*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
.header-settings{
    min-width: 320px;
    padding: 20px;
    width: 100vw;
    background-color: rgb(71, 70, 70);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;   
}
.navigation-panel{
    width: 500px;
    display: flex;
    justify-content: space-between;
}
.white-text{
    color: white;
}
.font-family{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.padding-settings{
    padding: 15px 0;
}
.contacts-menu{
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px;
}